{% extends 'index.html' %}
{% load i18n %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}

{% block hero %}
<div class="jumbotron">
  <div class="container">
    <h1>{% trans "USAID Nepal GeoNode" %}</h1>
    <p>{% blocktrans %}USAID Nepal, Feed the Future, and USAID Global Development Lab are cooperating on the <a href="http://datadrivenfarming.challenges.org/">Data Driven Farming Prize.{% endblocktrans %}</p>
    <span>{% trans 'Need help?' %} <a href="./help">{% trans 'Getting Started' %}</a></span>
  </div>
</div>
{% endblock %}

{% block showcase %}
<section id="showcase">
  <div class="container">
    <div class="row">
      <h2>Featured Datasets</h2>
      <div>
        {% for x in MOCK_FEATURED_DATASETS %}
        <div>
          <div class="col-md-3">
            <a href="{{ x.url }}"><img src="{{ x.thumbnail }}" /></a>
            <h4>{{ x.title }}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <p><a href="/search/">Explore all datasets</a></p>
  </div>
</section>
{% endblock %}
