p {
  font-family: "proxima-nova-soft", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.tk-proxima-nova-soft, h1, h2, h3, .h1, .h2, .h3 {
  font-family: "proxima-nova-soft", sans-serif;
  color: rgb(97, 153, 142);
}

a {
  color: rgb(97, 153, 142) !important;
}

a:hover {
  text-decoration: underline;
}

.navbar-brand {
    height: 72px;
    background: none;
    /*background: url(../img/ftf_geonode_logo.png) no-repeat;*/
    background-position: center;
}

.navbar-brand div {
  font-family: "proxima-nova-soft", sans-serif !important;
  font-weight: 600 !important;
  color: rgb(103, 155, 145) !important;
}

.navbar-brand div:hover {
  color: rgb(103, 155, 145) !important;
}

.home .jumbotron {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)),url('../img/background/jumbotron_background.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7.5em 0 3.75em;
}

.home .big-search {
  background: rgb(241, 241, 241)!important;
}


#ftf_geonode_navbar {
  /*background-image: url(../img/background/ftf_background.png);*/
  background: white;
  background-repeat: repeat;
  padding: 2px 0px;
  border-bottom: 2px solid rgb(97, 153, 142);
}

#ftf_geonode_navbar ul li a {
  font-family: "proxima-nova-soft", sans-serif !important;
  font-weight: 600 !important;
  color: rgb(80, 87, 89);
  padding-top: 25px;
  padding-bottom: 25px;
}

#ftf_geonode_navbar #navbar ul li:hover a, #ftf_geonode_navbar ul li:focus a, #ftf_geonode_navbar ul li:selected a {
  color: rgb(208, 15, 66) !important;
}

#datasets category:hover i, #datasets category:hover h4 {
  color: rgb(208, 15, 66) !important;
}


#ftf_geonode_navbar .navbar-nav .dropdown-menu {
    background-color: white;
    border-top: 1px solid rgb(97, 153, 142);
}

#ftf_geonode_navbar .navbar-nav ul.dropdown-menu li a {
  color: rgb(80, 87, 89);
  font-weight: normal;
  padding: 3px 20px;
}


#ftf_geonode_navbar .navbar-nav .dropdown-menu li a:hover {
    background-color: white;
    border: 0;
}

#ftf_geonode_navbar .navbar-nav .dropdown-menu li a:hover {
    background-color: rgb(238, 238, 238);
    color: rgb(208, 15, 66);
}


.resourcebase-snippet .item-thumb a {
  display: block;
  border: 2px solid rgb(97, 153, 142);
  background: black;
}
.resourcebase-snippet .item-thumb a:hover img {
  opacity: 0.6;
}
