{% extends "site_base.html" %}

{% load i18n %}
{% block title %}APIs - Data Driven Farming GeoNode{% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>APIs</h2>
</div>
<div class="row" style="position:relative;">
  <div id="ddf-prize" style="position:absolute; top:-80px"></div>
  <div class="col-md-8">
    <h3>Baseline Data</h3>
    <p>TBD</p>
  </div>
</div>
<div class="row" style="position:relative;">
  <div id="ddf-geonode" style="position:absolute; top:-80px"></div>
  <div class="col-md-8">
    <h3>Data Driven Farming GeoNode</h3>
    <p>TBD</p>
  </div>
</div>
{% endblock %}
