{% extends 'index.html' %}
{% load i18n %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}

{% block hero %}
<div class="jumbotron" style="position:relative;">
  <div class="container">
    <h2 style="font-family: 'Montserrat', sans-serif;color:white;"><span style="letter-spacing: 0.2rem;">Data Driven Farming GeoNode</span></h2>
    <p>{% blocktrans %}<a href="http://datadrivenfarming.challenges.org/">The Data Driven Farming Prize</a> is seeking tools and approaches that source, analyze and translate data into actionable, timely and context-specific information for smallholder farmers to improve value from agricultural productivity.  This GeoNode provides open data and APIs to support these efforts.{% endblocktrans %}</p>
  </div>
  <div style="position:absolute; right: 2rem; bottom: 1rem;font-size: 12px;"><span>Background Image from </span><a href="https://www.ars.usda.gov/oc/images/photos/apr01/k9388-14/" target="_blank">https://www.ars.usda.gov/oc/images/photos/apr01/k9388-14/</a></div>
</div>
{% endblock %}


{% block datasets %}
  <section id="datasets">
  	<div class="container">
  		<div class="row">
  			<div class="container text-center">
  				<h1>Discover the available datasets.</h1>
          {% for tile in INDEX_TILES %}
  				<div class="col-xs-4 col-sm-2">
  					<a data-toggle="tooltip" data-placement="auto" href="{{ tile.url }}" title="{{ tile.title }}">
  						<div class="category">
  							<i class="{{ tile.classes }}"></i>
  							<h4>{{ tile.name }}</h4>
  						</div>
  					</a>
  				</div>
          {% endfor %}
  			</div>
  		</div>
  	</div>
  </section>
  {% endblock %}

{% block showcase %}
<section id="showcase">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="{% url "viewer" %}?main:config={% url "dashboard_config" 'baseline' %}"><h3>Baseline Data</h3></a>
        <iframe
            src="{% url "viewer" %}?main:config={% url "dashboard_config" 'baseline' %}"
            style="width:100%; height: 300px;border: 2px solid rgb(97, 153, 142);" frameborder=0></iframe>
      </div>
      <div class="col-md-4">
        <a href="{% url "viewer" %}?main:config={% url "dashboard_config" 'operational' %}"><h3>Operational Data</h3></a>
        <iframe
            src="{% url "viewer" %}?main:config={% url "dashboard_config" 'operational' %}"
            style="width:100%; height: 300px;border: 2px solid rgb(97, 153, 142);" frameborder=0></iframe>
      </div>
      <div class="col-md-4">
        <a href="{% url "viewer" %}?main:config={% url "dashboard_config" 'thematic' %}"><h3>Thematic Data</h3></a>
        <iframe
            src="{% url "viewer" %}?main:config={% url "dashboard_config" 'thematic' %}"
            style="width:100%; height: 300px;border: 2px solid rgb(97, 153, 142);" frameborder=0></iframe>
      </div>
    </div>
  </div>
</section>
{% endblock %}
