{% extends 'index.html' %}
{% load i18n %}

{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}

{% block hero %}
<div class="jumbotron" style="position:relative;">
  <div class="container">
    <h2 style="font-family: 'Montserrat', sans-serif;color:white;"><span style="letter-spacing: 0.2rem;">USAID GeoNode</span></h2>
    <p>Enhancing humanitarian and development projects.</p>
  </div>
  <div style="position:absolute; right: 2rem; bottom: 1rem;font-size: 12px;"><span>Background Image from </span><a href="https://www.ars.usda.gov/oc/images/photos/apr01/k9388-14/" target="_blank">https://www.ars.usda.gov/oc/images/photos/apr01/k9388-14/</a></div>
</div>
{% endblock %}

{% block bigsearch %}{% endblock %}


{% block datasets %}
  <section id="datasets">
  	<div class="container">
  		<div class="row">
  			<div class="container">
  				<h1 class="text-center">Discover projects</h1>
          <div class="row">
            {% for project in PROJECTS %}
    				<div class="col-xs-6 col-md-3">
    					<a
                class="thumbnail"
                data-toggle="tooltip"
                data-placement="auto"
                href="{% url "project" project.id %}"
                title="Click to discover data for {{ project.title }}.">
                {% if project.preview.image.url %}
                <img src="{{ project.preview.image.url }}" alt="{{ project.title }}">
                {% endif %}
    						<div class="caption">
    							<h2>{{ project.title }}</h2>
    						</div>
    					</a>
    				</div>
            {% endfor %}
          </div>
  			</div>
  		</div>
      <div class="row">
        <div class="container">
          <h1 class="text-center">Data Available for Regions</h1>
          <div class="row">
            {% for region in REGIONS %}
            <div class="col-xs-6 col-md-3">
              <a
                class="thumbnail"
                data-toggle="tooltip"
                data-placement="auto"
                href="{% url "layer_browse" %}?regions__name__in={{ region }}"
                title="Click to discover data for {{ region }}.">
                <div class="caption">
                  <h2>{{ region }}</h2>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
  	</div>
  </section>
  {% endblock %}

{% block showcase %}
{% endblock %}
