{% extends "base.html" %}

{% load i18n base_tags avatar_tags %}

{% block body_style %}{% if project %}background:{{ project.background|default:"rgb(51, 51, 51)" }};{% endif %}{% endblock %}

{% block extra_head %}
<script src="https://use.typekit.net/gyy2upl.js"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Source+Sans+Pro" rel="stylesheet">
<link href="{{ STATIC_URL }}css/site_base.css?v={{ VERSION }}" rel="stylesheet"/>
<script src="{{ STATIC_URL }}js/site_base.js"></script>
<link rel="icon" href="{{ STATIC_URL }}img/ddf/cropped-ddf-logo-3-32x32.png" sizes="32x32" />
<link rel="icon" href="{{ STATIC_URL }}img/ddf/cropped-ddf-logo-3-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/ddf/cropped-ddf-logo-3-180x180.png" />
<meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/ddf/cropped-ddf-logo-3-270x270.png" />
{% endblock %}

{% block header %}
<nav id="usaid_geonode_navbar" class="navbar navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <i class="fa fa-navicon fa-lg"></i>
    </button>
    {% if project.header %}
    {% if project.header.logo %}
    <a class="navbar-brand" href="{% url "home" %}">
      <img src="{{ project.header.logo }}" style="max-width:100%;max-height:100%;"/>
    </a>
    {% else %}
    <a class="navbar-brand" href="{% url "home" %}">
      <div class="row">Data Driven</div><div class="row">Farming GeoNode</div>
    </a>
    {% endif %}
    {% else %}
    <!--<a class="navbar-brand" href="{% url "home" %}"><img src="{{ STATIC_URL }}/img/logo/ftf_geonode_white.png" style="max-width:100%;max-height:100%;"/></a>-->
    <a class="navbar-brand" href="{% url "home" %}">
      <div class="row">Data Driven</div><div class="row">Farming GeoNode</div>
    </a>
    {% endif %}
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav toolbar">
      {% if project %}
      {% for link in project.header.links %}
      <li id="{{ link.id }}"><a href="{{ link.url }}">{% trans link.title %}</a></li>
      {% endfor %}
      {% else %}
      <li id="nav_viewer"><a href="{% url "viewer" %}?main:config={% url "dashboard_config_viewer" %}">{% trans "Viewer" %}</a></li>
      <li id="nav_layers"><a href="{% url "layer_browse" %}">{% trans "Datasets" %}</a></li>
      <li id="nav_osm"><a href="{% url "layer_browse" %}?keywords__slug__in=osm">{% trans "OSM Extracts" %}</a></li>
      <li id="nav_apis"><a href="/apis">{% trans "APIs" %}</a></li>
      <li id="nav_about"><a href="{% url "about" %}">About</a></li>
      {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="search">
          <form id="search" action="{% url "search" %}" >
            <span class="fa fa-search"></span>
            {% if HAYSTACK_SEARCH %}
            <input id="search_input" type="text" placeholder="Search" name="q">
            {% else %}
            <input id="search_input" type="text" placeholder="Search" name="title__icontains">
            {% endif %}
          </form>
        </div>
      </li>
      {% if REGISTRATION_OPEN and not user.is_authenticated%}
      <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
      {% endif %}
      {% if user.is_authenticated %}
      <li><a href="#" class="dropdown-toggle avatar" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% avatar user 42 %} {{ user.username }}<i class="fa fa-angle-down fa-lg"></i></a>
        <ul class="dropdown-menu">
          <li><a href="{{ user.get_absolute_url }}">{% trans "Profile" %}</a></li>
          <li><a href="{% url "recent-activity" %}">{% trans "Recent Activity" %}</a></li>
          {% if user.is_authenticated %}
          <li role="separator" class="divider"></li>
          <li><a href="{% url "profile_browse" %}">{% trans "People" %}</a></li>
          <li><a href="{% url "group_list" %}">{% trans "Groups" %}</a></li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="./help">{% trans "Help" %}</li>
          {% if user.is_superuser %}
          <li role="separator" class="divider"></li>
          <li><a href="{% url "admin:index" %}">Admin</a></li>
          <li><a href="{{ GEOSERVER_BASE_URL }}">GeoServer</a></li>
          <li><a href="{% url "account_invite_user" %}">{% trans "Invite User" %}</a></li>
          {% endif %}
          <li role="separator" class="divider"></li>
          <li><a href="/account/logout/">Logout</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="#" data-toggle="modal" data-target="#SigninModal" role="button" >{% trans "Sign in" %} </a></li>
      {% endif %}
      </ul>
    </div> <!--/.nav-collapse -->
  </div>
</nav>
{% endblock header %}

{% block footer %}
<footer id="ftf_geonode_footer">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-3"><a href="https://feedthefuture.gov/"><img src="{{ STATIC_URL }}img/logo/ftf_logo_white.png" style="max-width:100%;" /></a></div>-->
      {% if project and project.footer.groups %}
      {% for group in project.footer.groups %}
      <div class="col-md-{{ project.footer.groups|length|divide_inverted:12  }}">
        <ul class="list-unstyled">
          <li style="{{ project.footer.style_title }}">{{ group.title }}</li>
          {% for link in group.links %}
          {% if user.is_authenticated or not link.authentication_required %}
          <li>
            <a href="{{ link.url }}" style="{{ project.footer.style_link }}{{ link.style }}">
              {% if link.image %}
              <img src="{{ link.image }}" style="max-width:60%;" />
              {% else %}
              {{ link.title }}
              {% endif %}
            </a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
      {% else %}
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Data</li>
          <li><a href="{% url "layer_browse" %}">Open Data</a></li>
          <li><a href="{% url "layer_browse" %}?keywords__slug__in=osm">OSM Extracts</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url "layer_upload" %}">Contribute</a></li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Developer</li>
          <li><a href="/apis">Open APIs</a></li>
          <li><a href="http://geonode.org">GeoNode.org</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>About</li>
          <li><a href="/about/#ddf-prize">Data Driven Farming Prize</a></li>
          <li><a href="/about/#ddf-geonode">Data Driven Farming GeoNode</a></li>
          <li><a href="/about/#ftf">Feed the Future</a></li>
          <li><a href="/about/#geonode">GeoNode</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled">
          <li>Powered by Open Source</li>
          <li>
            <a href="http://geonode.org/" style="margin-top: 8px;display:block;">
              <img src="{{ STATIC_URL }}img/logo/geonode_logo_white.png" style="max-width:60%;" />
            </a>
          </li>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</footer>
{% endblock footer %}
